/* Insert any CSS code below here */

body{
  background-color: #ffffe0;
}

h1, h2, h3, h4, h5, h6{
  color:navy;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }


p{
  font-size:14px;
  color:black;
}

hr{
  border: 2px solid black;
}
/* I added more CSS coding by changing the color and thickness of the horizontal lines. */

.main{
  color:navy;
  font-weight: bold;
}